/* Normalise css */
html,body{
    background-color: #141414;
    padding:0;
    margin: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.container{
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    display: none;
}

/* Header Css */
header{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    position: fixed;
    z-index: 100;
    left:0;
    top: 0;
    width: 100%;
    transition: all ease 600ms;
    text-align: center;
}
header.black-bg{
    background-color: rgb(20, 20, 20);
}
.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-cont, .right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-brand{
    max-width: 110px;
    cursor: pointer;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    position: relative;
    right: 20px;
    align-items: center;
    
}
.nav-item{
    margin-right: 15px;
    color: #e5e5e5;
    opacity: .83;
    cursor: pointer;
}
.nav-item.active{
    color: white;
    opacity: 1;
    font-weight: 500;
    cursor: default;
}
.right-cont svg,  .right-cont img{
    margin-right: 20px;
    cursor: pointer;
}
.right-cont svg{
    color: white;
    position: relative;
    left: 0;
}
.right-cont img{
    max-width:35px;
    position: relative;
    left: 0px;
}
.right-cont{
    right: 0;
    display: flex;
    align-items: center;
}
.search-icon{
    left: 0;
    
}

/* Movies Section CSS */
.movies-section{
    margin: 20px 0;
}
.movie-section-heading{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    cursor: pointer;
    margin: 0 0;

}
.explore-nudge{
    color: #54b9c5;
    font-size: 12px;
    display: none;
}
.movie-section-heading:hover .explore-nudge{
    display: inline-block;
}
.movies-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    height: 350px;
    overflow-y: hidden;
}
.movie-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 350px;
    object-fit: contain;
    margin-right: 6px;
    border-radius: 4px;
    position: relative;
}
.movie-item-img{
    width: inherit;
    border-radius: 8px;
}
.movie-item .iframe-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    border: none;
    outline: none;
    border-radius: 8px;
}
.movie-item:hover .iframe-wrap{
    display: block;
    border-radius: 8px;
}
.movie-item:hover{
    transform: scale(1.15);
    transition: transform linear 300ms;
    border-radius: 8px;
    z-index: 1;
}


/* Banner Section */
.banner-section{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 98vh;
    padding-top: 80px;
    position: relative;
    margin-bottom: 50px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}
.banner__title{
    color: white;
    font-size: 84px;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 16px;
    max-width: 40%;
}
.banner__info{
    margin-bottom: 14px;
    
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    color: white;
}
.banner__overview{
    font-size: 16.4px;
    color: white;
    line-height: 1.3;
    max-width: 40%;
}
.action-buttons-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.action-button{
    border:none;
    background-color: white;
    padding: 8px 23px;
    margin-right: 11px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    cursor:pointer;
}
.action-button:last-child{
    background-color: rgba(109, 109, 110, 0.7);
    color:white;
}
.banner_fadeBottom{
    height: 80px;
    background:linear-gradient(180deg,
        transparent,
        rgba(37,37,37,.61),
        #141414
    ); 
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
}



/* RESPONSIVE CSS */
@media (max-width:767px) {
    /* header start */
    .header-cont{
        height: 50px;
    }
    .right-cont svg, .right-cont img{
        margin-right: 10px;
    }
    .search-icon{
        margin-right: 5px;
    }
    .main-nav, .nav-item{
        display: none;
    }

/* Banner Start */
.banner-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center center;
    min-height: 20vh;
    padding-top: 0;
    margin-bottom: 0;
    height: 250px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    bottom: 0;
    padding-top: 50px;
}
.banner__title{

    color: white;
    font-size: 30px;
    max-width: 70%;
    margin: 20px 0px 0px 10px;
}
.banner__info{
    margin: 0px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
}
.banner__overview{
    font-size: 8px;
    color: white;
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px 0px 10px 10px;
}
.action-buttons-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.action-button{
    border: none;
    background-color: white;
    padding: 5px 15px;
    margin-right: 11px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    font-weight: 700;
}
.action-button:last-child{
    background-color: rgba(109, 109, 110, 0.7);
    color:white;
}
.banner_fadeBottom{
    height: 40px;
    background:linear-gradient(180deg,
        transparent,
        rgba(37,37,37,.31),
        #141414
    ); 
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
}
/* banner end */

/* Movies Section CSS */
.movies-section{
    margin: 20px 0 0px 10px;
}
.movie-section-heading{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    cursor: pointer;
    margin: 0 0;

}
.explore-nudge{
    color: #54b9c5;
    font-size: 12px;
    display: none;
}
.movie-section-heading:hover .explore-nudge{
    display: inline-block;
}
.movies-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    height: 160px;
    width: 100%;
    overflow-y: hidden;
}
.movie-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 110px;
    margin-right: 6px;
    border-radius: 4px;
    position: relative;
}
.movie-item-img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 8px;
}
.movie-item:hover{
    transform: scale(1);
    transition: transform linear 300ms;
    border-radius: 8px;
    z-index: 1;
}
}
/* movie section end */
